<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口列表示例</title>
<!--    <script type="text/javascript">-->
<!--        function init() {-->
<!--            var a = document.getElementsByTagName('a');-->
<!--            for (var j = 0; j < a.length; j++) {-->
<!--                //console.log(a[j].innerText);-->
<!--                a[j].innerText = a[j].href.split('public/')[1];-->
<!--            }-->
<!--        }-->
<!--    </script>-->

    <style type="text/css">a:link {
        text-decoration: none;
        color: #cccccc;  /* 指正常的未被访问过的链接*/
    }

    a:visited {
        text-decoration: none; /*指已经访问过的链接*/
        color:#cccccc;
    }

    a:hover {
        /* text-decoration: underline; */
        font-size: 102%;
        color: blue /*指鼠标在链接*/
    }

    a:active {
        text-decoration: none; /* 指正在点的链接*/
    }</style>

</head>
<body>

<h1>Fetch_Agent_Service demo：</h1>
<hr>
    <h2>----------Twitter----------</h2>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_mutual_follower&target_list=bbeekk321,JimCarBotech&page_count=1">get_mutual_follower</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_mutual_follower&target_list=bbeekk321,JimCarBotech&page_count=1</p>
    <p>target_list输入必须是account，以逗号隔开</p>
    <p>数据来源： http://www.twiangulate.com/search</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_mutual_following&target_list=BillGates,Oprah&page_count=1">get_mutual_following</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_mutual_following&target_list=BillGates,Oprah&page_count=1</p>
    <p>target_list输入必须是account，以逗号隔开</p>
    <p>数据来源： http://www.twiangulate.com/search</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_friend&target_express=carolineparra4&page_count=1">get_friend</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_friend&target_express=carolineparra4&page_count=1</p>
    <p>target_express输入必须是account</p>
    <p>数据来源： http://www.twiangulate.com/search</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_author_mention_the_target&target_express=BillGates&page_count=1">get_author_mention_the_target</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_author_mention_the_target&target_express=BillGates&page_count=1</p>
    <p>target_express输入必须是account</p>
    <p>数据来源： https://twitter.com/</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_author_reply_to_the_target&target_express=BillGates&page_count=1">get_author_reply_to_the_target</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_author_reply_to_the_target&target_express=BillGates&page_count=1</p>
    <p>target_express输入必须是account</p>
    <p>数据来源： https://twitter.com/</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_author_retweet_the_target_tweet&target_express=https://twitter.com/BBC/status/1214955182775246850">get_author_retweet_the_target_tweet</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_author_retweet_the_target_tweet&target_express=https://twitter.com/BBC/status/1214955182775246850</p>
    <p>target_express输入必须是tweet url</p>
    <p>数据来源： https://twitter.com/</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_deleted_tweet&target_express=RCoteNPD&page_count=1">get_deleted_tweet</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_deleted_tweet&target_express=RCoteNPD&page_count=1</p>
    <p>target_express输入必须是account</p>
    <p>数据来源： https://politwoops.com/</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_tweet_of_suspended_author&target_express=M7MD_SHAMRANI">get_tweet_of_suspended_author</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_tweet_of_suspended_author&target_express=M7MD_SHAMRANI</p>
    <p>target_express输入必须是account</p>
    <p>数据来源： https://web.archive.org/</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_tweet_of_advanced_search&query_dict=%7B%22words%22%3A%22%E4%B8%AD%E5%9B%BD%22%2C%22from_account%22%3A%22VOAChinese%22%2C%22min_replies%22%3A%2215%22%2C%22min_faves%22%3A%2215%22%2C%22min_retweets%22%3A%2215%22%2C%22lang%22%3A%22zh-cn%22%2C%22until%22%3A%222020-01-30%22%2C%22since%22%3A%222018-12-22%22%7D&page_count=1">get_tweet_of_advanced_search</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_tweet_of_advanced_search&query_dict=%7B%22words%22%3A%22%E4%B8%AD%E5%9B%BD%22%2C%22from_account%22%3A%22VOAChinese%22%2C%22min_replies%22%3A%2215%22%2C%22min_faves%22%3A%2215%22%2C%22min_retweets%22%3A%2215%22%2C%22lang%22%3A%22zh-cn%22%2C%22until%22%3A%222020-01-30%22%2C%22since%22%3A%222018-12-22%22%7D&page_count=1</p>
    <p>query_dict={"words":"中国","from_account":"VOAChinese","min_replies":"15","min_faves":"15","min_retweets":"15","lang":"zh-cn","until":"2020-01-30","since":"2018-12-22"}</p>
    <p>数据来源： https://twitter.com/</p>
    <br>
    <a target="_blank" href='/service_app?agent_type=twitter&fetch_type=get_tweet_of_url&query_dict=%7B"url"%3A"BBC/status/1306292012916695040"%7D%0D%0A'>get_tweet_of_url</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_tweet_of_url&query_dict=%7B"url"%3A"BBC/status/1306292012916695040"%7D%0D%0A</p>
    <p>{"url":"BBC/status/1306292012916695040"}</p>
    <p>数据来源： https://twitter.com/</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=twitter&fetch_type=get_profile&target_express=BillGates">get_profile</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_profile&target_express=BillGates</p>
    <p>target_express输入必须是account</p>
    <p>数据来源： http://gettwitterid.com/</p>
    <br>
<hr>
    <h2>----------telegram----------</h2>
    <a target="_blank" href="/service_app?agent_type=telegram&fetch_type=get_member&target_express=drafts4">get_member</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=telegram&fetch_type=get_member&target_express=drafts4</p>
    <p>target_express输入必须是account</p>
    <br>
    <a target="_blank" href="/service_app?agent_type=telegram&fetch_type=get_message&target_express=drafts4">get_message</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=telegram&fetch_type=get_message&target_express=drafts4</p>
    <p>target_express输入必须是account</p>
    <br>
<hr>
    <h2>----------Breach----------</h2>
    <a target="_blank" href="/service_app?agent_type=breach&target_express=fawzyffawzyf%40gmail.com">get_breach_result</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=breach&target_express=fawzyffawzyf%40gmail.com</p>
    <p>target_express 可为email、account等</p>
    <p>数据来源： https://haveibeenpwned.com/</p>
    <br>
<hr>
    <h2>----------video_downlod----------</h2>
    <a target="_blank" href="/service_app?agent_type=video_download&target_express=https%3A%2F%2Ftwitter.com%2Fi%2Fvideos%2Ftweet%2F1317908612962988033">get_video_downlod_result</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=video_download&target_express=https%3A%2F%2Ftwitter.com%2Fi%2Fvideos%2Ftweet%2F1317908612962988033</p>
    <p>target_express 可为视频url</p>
    <p>数据来源： https://github.com/ytdl-org/youtube-dl</p>
    <br>
<hr>
    <h2>----------match_account----------</h2>
    <a target="_blank" href="/service_app?agent_type=match_account&target_express=bbc">match_account</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=match_account&target_express=bbc</p>
    <p>找出各个社交账号</p>
    <p>target_express 为account</p>
    <p>数据来源： https://github.com/sherlock-project/sherlock</p>
    <br>
<hr>
    <h2>----------facebook----------</h2>
    <a target="_blank" href="/service_app?agent_type=facebook&fetch_type=get_facebook_id&target_express=bnbarry34">get_facebook_id</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=facebook&fetch_type=get_facebook_id&target_express=bnbarry34</p>
    <p>target_express 为account</p>
    <p>数据来源： https://findmyfbid.in/</p>
    <br>

</body>
</html>