<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>示例</title>
</head>
<body>

<h1>示例：</h1>
<hr>
    <h2>----------Twitter----------</h2>
    <a href="/service_app?agent_type=twitter&fetch_type=get_common_follower&target_list=BillGates,Oprah">get_common_follower</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_common_follower&target_list=BillGates,Oprah</p>
    <p>target_list输入必须是account，以逗号隔开</p>
    <br>
    <a href="/service_app?agent_type=twitter&fetch_type=get_common_following&target_list=BillGates,Oprah">get_common_following</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_common_following&target_list=BillGates,Oprah</p>
    <p>target_list输入必须是account，以逗号隔开</p>
    <br>
    <a href="/service_app?agent_type=twitter&fetch_type=get_friend&target_express=KimberBollacker">get_friend</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_friend&target_express=KimberBollacker</p>
    <p>target_express输入必须是account</p>
    <br>
    <a href="/service_app?agent_type=twitter&fetch_type=get_tweet_mention_the_target&target_express=BillGates">get_tweet_mention_the_target</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_tweet_mention_the_target&target_express=BillGates</p>
    <p>target_express输入必须是account</p>
    <br>
    <a href="/service_app?agent_type=twitter&fetch_type=get_tweet_reply_to_the_target&target_express=BillGates">get_tweet_reply_to_the_target</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_tweet_reply_to_the_target&target_express=BillGates</p>
    <p>target_express输入必须是account</p>
    <br>
    <a href="/service_app?agent_type=twitter&fetch_type=get_deleted_tweet&target_express=RCoteNPD">get_deleted_tweet</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_deleted_tweet&target_express=RCoteNPD</p>
    <p>target_express输入必须是account</p>
    <br>
    <a href="/service_app?agent_type=twitter&fetch_type=get_tweet_of_suspended_author&target_express=M7MD_SHAMRANI">get_tweet_of_suspended_author</a>
    <p>http://{% print(my_host) %}/service_app?agent_type=twitter&fetch_type=get_tweet_of_suspended_author&target_express=M7MD_SHAMRANI</p>
    <p>target_express输入必须是account</p>
    <br>
<hr>


</body>
</html>